{# templates/components/navbar.html #}
<nav class="navbar">
    <div class="container">
        <div style="font-size:1.125rem;font-weight:700">My Django Site</div>
        <div style="margin-left:auto;display:flex;gap:.5rem">
        <ul class="nav">
            <li>
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'todo_app:index' %}">ToDo App</a>
            </li>
            <li>
                <a class="nav-link" href="/about/">About</a>
            </li>
        </ul>
    </div>
</nav>